absl-py==0.9.0
adal==1.2.2
affine==2.3.0
aiohttp==3.6.2
alabaster==0.7.12
albumentations==0.4.5
alembic==1.4.2
allennlp==0.9.0
altair==4.1.0
anaconda-client==1.7.2
anaconda-project==0.8.3
annoy==1.16.3
ansiwrap==0.8.4
appdirs==1.4.3
argh==0.26.2
arrow==0.15.5
arviz==0.7.0
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audioread==2.1.8
autopep8==1.5
Babel==2.8.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
Baker==1.3
basemap==1.2.1
bayesian-optimization==1.1.0
bayespy==0.5.19
bcolz==1.2.1
beautifulsoup4==4.8.2
binaryornot==0.4.4
biopython==1.76
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.1
blinker==1.4
blis==0.4.1
bokeh==2.0.1
Boruta==0.3
boto==2.49.0
boto3==1.12.41
botocore==1.15.41
Bottleneck==1.3.2
-e git+https://github.com/SohierDane/BigQuery_Helper@8615a7f6c1663e7f2d48aa2b32c2dbcb600a440f#egg=bq_helper
bqplot==0.12.6
branca==0.4.0
brewer2mpl==1.4.1
cachetools==3.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
Cartopy==0.17.0
catalogue==1.0.0
catalyst==20.4.1
catboost==0.22
category-encoders==2.1.0
certifi==2020.4.5.1
cesium==0.9.12
cffi==1.13.2
cftime==1.1.2
chainer==7.2.0
chainer-chemistry==0.7.0
chainercv==0.13.1
chardet==3.0.4
cleverhans==3.0.1
Click==7.0
click-plugins==1.1.1
cliff==3.1.0
cligj==0.5.0
cloudpickle==1.3.0
clyent==1.2.2
cmaes==0.4.0
cmd2==0.8.9
cmdstanpy==0.4.0
cmudict==0.4.4
colorama==0.4.3
colorcet==2.0.2
colorlog==4.1.0
colorlover==0.3.0
conda==4.8.3
conda-package-handling==1.6.0
ConfigArgParse==1.2.1
configparser==4.0.2
confuse==1.0.0
conllu==1.3.1
contextily==1.0.0
contextlib2==0.6.0.post1
convertdate==2.2.0
conx==3.7.10
cookiecutter==1.7.0
coverage==5.1
crc32c==2.0
cryptography==2.8
cssselect2==0.3.0
cufflinks==0.17.3
cupy-cuda101==7.3.0
CVXcanon==0.1.1
cvxpy==1.0.31
cycler==0.10.0
cymem==2.0.3
cysignals==1.10.2
Cython==0.29.16
cytoolz==0.10.1
dask==2.14.0
dask-glm==0.2.0
dask-ml==1.3.0
dask-xgboost==0.1.10
datalab==1.1.5
datashader==0.10.0
datashape==0.5.2
deap==1.3.1
decorator==4.4.1
deepdish==0.3.6
defusedxml==0.6.0
Delorean==1.0.0
Deprecated==1.2.9
deprecation==2.1.0
descartes==1.1.0
diff-match-patch==20181111
dill==0.3.1.1
dipy==1.1.1
distributed==2.10.0
dlib==19.19.0
docker==4.2.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
earthengine-api==0.1.218
ecos==2.0.7.post1
editdistance==0.5.3
eli5==0.10.1
emoji==0.5.4
en-core-web-lg==2.2.5
en-core-web-sm==2.2.5
entrypoints==0.3
ephem==3.7.7.1
essentia==2.1b6.dev184
et-xmlfile==1.0.1
fancyimpute==0.5.4
fastai==1.0.60
fastcache==1.1.0
fastprogress==0.2.3
fastrlock==0.4
fasttext==0.9.1
fbpca==1.0
fbprophet==0.6
feather-format==0.4.0
featuretools==0.13.4
filelock==3.0.10
Fiona==1.8.13.post1
fitter==1.2.1
flake8==3.7.9
flaky==3.6.1
flashtext==2.7
Flask==1.1.1
Flask-Cors==3.0.8
folium==0.10.1
fsspec==0.6.2
ftfy==5.7
funcy==1.14
fury==0.5.1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.2.2
gatspy==0.3
gcsfs==0.6.0
gensim==3.8.2
geographiclib==1.50
Geohash==1.0
geojson==2.5.0
geopandas==0.6.3
geoplot==0.4.0
geopy==1.21.0
geoviews==1.6.1
gevent==1.4.0
ggplot==0.11.5
gitdb2==3.0.2
GitPython==3.0.8
glob2==0.7
gluoncv==0.6.0
gluonnlp==0.9.1
gmpy2==2.1.0b1
google==2.0.3
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-automl==0.10.0
google-cloud-bigquery==1.12.1
google-cloud-bigtable==1.2.1
google-cloud-core==1.3.0
google-cloud-dataproc==0.6.1
google-cloud-datastore==1.10.0
google-cloud-firestore==1.6.2
google-cloud-kms==1.3.0
google-cloud-language==1.3.0
google-cloud-logging==1.14.0
google-cloud-monitoring==0.31.1
google-cloud-pubsub==1.3.0
google-cloud-scheduler==1.2.1
google-cloud-spanner==1.14.0
google-cloud-speech==1.3.2
google-cloud-storage==1.26.0
google-cloud-tasks==1.4.0
google-cloud-translate==2.0.1
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-pasta==0.2.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
gplearn==0.4.1
gpxpy==1.4.0
gql==0.2.0
graphql-core==1.1
graphviz==0.8.4
greenlet==0.4.15
grpc-google-iam-v1==0.12.3
grpcio==1.28.1
grpcio-gcp==0.2.2
gym==0.17.1
h2o==3.30.0.1
h5py==2.10.0
haversine==2.2.0
heamy==0.0.7
HeapDict==1.0.1
hep-ml==0.6.1
hmmlearn==0.2.3
holidays==0.9.12
holoviews==1.13.2
hpsklearn==0.1.0
html5lib==1.0.1
htmlmin==0.1.12
httplib2==0.17.0
httplib2shim==0.0.3
humanize==2.3.0
hunspell==0.5.5
husl==4.0.3
hyperopt==0.2.3
hypertools==0.6.2
hypothesis==5.5.4
ibis-framework==1.3.0
idna==2.9
imagecodecs==2020.2.18
ImageHash==4.0
imageio==2.8.0
imagesize==1.2.0
imbalanced-learn==0.6.2
imgaug==0.2.6
implicit==0.4.2
importlib-metadata==1.5.0
intervaltree==3.0.2
ipykernel==5.1.1
ipython==7.12.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
iso3166==1.0.1
isort==4.3.21
isoweek==1.3.3
itsdangerous==1.1.0
Janome==0.3.10
jax==0.1.62
jaxlib==0.1.41
jdcal==1.4.1
jedi==0.14.1
jeepney==0.4.2
jieba==0.42.1
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.14.1
json5==0.9.0
jsonnet==0.15.0
jsonpickle==1.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-aihub-deploy-extension==0.1
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyter-http-over-ws==0.0.7
jupyterlab==1.2.6
jupyterlab-git==0.9.0
jupyterlab-server==1.0.6
kaggle-environments==0.2.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.1.0
kiwisolver==1.1.0
kmapper==1.2.0
kmeans-smote==0.1.2
kmodes==0.10.2
knnimpute==0.1.0
kubernetes==10.0.1
langid==1.1.6
Lasagne==0.2.dev1
lazy-object-proxy==1.4.3
learntools==0.3.4
leven==1.0.4
libarchive-c==2.9
librosa==0.7.2
lief==0.9.0
lightfm==1.15
lightgbm==2.3.1
lime==0.2.0.0
line-profiler==3.0.2
llvmlite==0.31.0
lml==0.0.9
locket==0.2.0
LunarCalendar==0.0.9
lxml==4.5.0
Mako==1.1.2
mapclassify==2.2.0
marisa-trie==0.7.5
Markdown==3.2.1
markovify==0.8.0
MarkupSafe==1.1.1
matplotlib==3.1.3
matplotlib-venn==0.11.5
mccabe==0.6.1
memory-profiler==0.57.0
mercantile==1.1.3
missingno==0.4.2
mistune==0.8.4
mizani==0.6.0
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
ml-metrics==0.1.4
mlcrate==0.2.0
mlens==0.2.3
mlxtend==0.17.2
mmh3==2.5.1
mne==0.20.0
mnist==0.2.2
mock==3.0.5
more-itertools==8.2.0
mpld3==0.3
mplleaflet==0.0.5
mpmath==1.1.0
msgpack==1.0.0
msgpack-numpy==0.4.5
multidict==4.7.5
multipledispatch==0.6.0
multiprocess==0.70.9
munch==2.5.0
murmurhash==1.0.2
mxnet-cu101==1.6.0
nb-conda==2.2.1
nb-conda-kernels==2.2.2
nbconvert==5.6.1
nbdime==1.1.0
nbformat==5.0.4
nbpresent==3.0.2
nervananeon==2.6.0
netCDF4==1.5.3
networkx==2.4
nibabel==3.1.0
nilearn==0.6.2
nltk==3.2.4
nnabla==1.7.0
nnabla-ext-cuda101==1.7.0
nolearn==0.6.1
nose==1.3.7
notebook==5.5.0
notebook-executor==0.2
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.0.1
odfpy==1.4.1
olefile==0.46
onnx==1.6.0
opencv-python==4.2.0.34
openpyxl==3.0.3
openslide-python==1.1.1
opt-einsum==3.2.1
optuna==1.3.0
orderedmultidict==1.0.1
ortools==7.5.7466
osmnx==0.10
osqp==0.6.1
overrides==2.8.0
OWSLib==0.19.2
packaging==20.1
palettable==3.3.0
pandas==1.0.1
pandas-datareader==0.8.1
pandas-profiling==2.4.0
pandas-summary==0.0.7
pandasql==0.7.3
pandoc==1.0.2
pandocfilters==1.4.2
panel==0.9.5
papermill==1.2.1
param==1.9.3
parsimonious==0.8.1
parso==0.6.1
partd==1.1.0
path==13.1.0
path.py==12.4.0
pathlib2==2.3.5
pathos==0.2.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.5
pdf2image==1.12.1
PDPbox==0.2.0+13.g73c6966
pep8==1.7.1
pexpect==4.8.0
phik==0.9.8
pickleshare==0.7.5
Pillow==5.4.1
pkginfo==1.5.0.1
plac==0.9.6
plotly==4.5.1
plotly-express==0.4.1
plotnine==0.4.0
pluggy==0.13.0
ply==3.11
polyglot==16.7.4
portalocker==1.7.0
posix-ipc==1.0.4
pox==0.2.7
poyo==0.5.0
ppca==0.0.4
ppft==1.6.6.1
preprocessing==0.1.13
preshed==3.0.2
prettytable==0.7.2
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
pronouncing==0.2.0
protobuf==3.11.3
psutil==5.7.0
ptyprocess==0.6.0
pudb==2019.2
py==1.8.1
py-cpuinfo==5.0.0
py-lz4framed==0.14.0
py-spy==0.3.3
py-stringmatching==0.4.1
py-stringsimjoin==0.3.1
pyahocorasick==1.4.0
pyaml==20.4.0
PyArabic==0.6.7
pyarrow==0.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyAstronomy==0.14.0
pybind11==2.5.0
PyBrain==0.3
pycairo==1.19.1
pycodestyle==2.5.0
pycosat==0.6.3
pycountry==19.8.18
pycparser==2.19
pycrypto==2.6.1
pyct==0.4.6
pycuda==2019.1.2
pycurl==7.43.0.5
pydash==4.7.6
pydicom==1.4.2
pydocstyle==5.0.2
pydot==1.4.1
pyemd==0.5.1
pyepsg==0.4.0
pyexcel-io==0.5.20
pyexcel-ods==0.5.6
pyfasttext==0.4.6
pyflakes==2.1.1
pyglet==1.5.0
Pygments==2.5.2
PyJWT==1.7.1
pykalman==0.9.5
pykdtree==1.3.1
pyLDAvis==2.1.2
pylint==2.4.4
pymc3==3.8
PyMeeus==0.3.7
pymongo==3.10.1
Pympler==0.8
pynvrtc==9.2
pyocr==0.7.2
pyodbc==4.0.28
pyOpenSSL==19.1.0
pypandoc==1.5
pyparsing==2.4.6
pyPdf==1.13
pyperclip==1.8.0
PyPrind==2.11.2
pyproj==2.6.0
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.15.7
PySAL==1.14.4.post1
pyshp==2.1.0
PySocks==1.7.1
pystan==2.19.1.1
pytagcloud==0.3.5
pytesseract==0.3.4
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.2
pytest-cov==2.8.1
pytest-doctestplus==0.4.0
pytest-mock==3.1.0
pytest-openfiles==0.4.0
pytest-pylint==0.14.1
pytest-remotedata==0.3.1
pytest-runner==5.2
pytext-nlp==0.1.2
python-dateutil==2.8.1
python-editor==1.0.4
python-igraph==0.8.0
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-Levenshtein==0.12.0
python-louvain==0.14
pytools==2020.1
pytorch-ignite==0.3.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2019.3
PyUpSet==0.1.1.post7
pyviz-comms==0.7.4
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3
pyzmq==18.1.1
QDarkStyle==2.8
qgrid==1.3.1
QtAwesome==0.7.0
qtconsole==4.6.0
QtPy==1.9.0
randomgen==1.16.6
rasterio==1.1.3
ray==0.8.4
redis==3.4.1
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.2.0
resampy==0.2.2
responses==0.10.14
retrying==1.3.3
rgf-python==3.8.0
rope==0.16.0
rsa==4.0
Rtree==0.8.3
ruamel-yaml==0.15.80
s2sphere==0.2.5
s3fs==0.4.2
s3transfer==0.3.3
sacred==0.8.1
sacremoses==0.0.41
scattertext==0.0.2.63
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scikit-multilearn==0.2.0
scikit-optimize==0.7.4
scikit-plot==0.3.7
scikit-surprise==1.1.0
scipy==1.4.1
scs==2.1.2
seaborn==0.10.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.85
sentry-sdk==0.14.3
setuptools-git==1.2
shap==0.35.0
Shapely==1.7.0
shortuuid==1.0.1
simplegeneric==0.8.1
SimpleITK==1.2.4
simplejson==3.17.0
singledispatch==3.4.0.3
sip==4.19.20
six==1.14.0
sklearn==0.0
sklearn-contrib-py-earth==0.1.0+1.gdde5f89
sklearn-pandas==1.8.0
smart-open==1.11.1
smhasher==0.150.1
smmap2==2.0.5
snowballstemmer==2.0.0
snuggs==1.4.7
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==1.9.4
spacy==2.2.3
spectral==0.20
Sphinx==2.4.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==4.0.0
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
sqlparse==0.3.0
squarify==0.4.3
srsly==1.0.2
statsmodels==0.11.1
stemming==1.0.1
stevedore==1.32.0
stop-words==2018.7.23
stopit==1.1.2
subprocess32==3.5.4
svgwrite==1.4
sympy==1.5.1
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tenacity==6.0.0
tensorboard==2.1.1
tensorboardX==2.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-hub==0.8.0
tensorflow-probability==0.9.0
Tensorforce==0.5.4
tensorpack==0.10
termcolor==1.1.0
terminado==0.8.3
terminalplot==0.3.0
testpath==0.4.4
textblob==0.15.3
texttable==1.6.2
textwrap3==0.9.2
Theano==1.0.4
thinc==7.3.1
tifffile==2020.2.16
tinycss2==1.0.2
tokenizers==0.5.2
toolz==0.10.0
torch==1.4.0
torchaudio==0.4.0a0+719bcc7
torchtext==0.5.0
torchvision==0.5.0
tornado==5.0.2
TPOT==0.11.1
tqdm==4.43.0
traitlets==4.3.3
traittypes==0.2.1
transformers==2.8.0
trueskill==0.4.5
tsfresh==0.15.1
typed-ast==1.4.1
typing==3.6.4
typing-extensions==3.7.4.2
tzlocal==2.0.0
ujson==1.35
umap-learn==0.3.10
unicodecsv==0.14.1
Unidecode==1.1.1
update-checker==0.16
uritemplate==3.0.1
urllib3==1.25.7
urwid==2.1.0
vecstack==0.4.0
vowpalwabbit==8.8.1
vtk==8.1.2
Wand==0.5.3
wandb==0.8.32
wasabi==0.6.0
watchdog==0.10.2
wavio==0.0.4
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.0
wfdb==2.2.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
word2number==1.1
Wordbatch==1.4.5
wordcloud==1.6.0
wordsegment==1.3.1
wrapt==1.11.2
wurlitzer==2.0.0
xarray==0.15.1
xgboost==1.0.2
xlrd==1.2.0
XlsxWriter==1.2.8
xlwt==1.3.0
xvfbwrapper==0.2.9
yapf==0.28.0
yarl==1.4.2
yellowbrick==1.1
zict==1.0.0
zipp==3.0.0
